// Colors
$activeColor: #f06a72;
$backgroundColor: rgba(8, 12, 51, 1);
$colorPrimary: #3547ed;
$backgroundFooter: #000000;
$textColor: #ffffff;
$textCommunity: #35d7cd;
$textLearn: #b982ff;
$textToken: #a0a9ff;
$textWatch: #22c3a6;
$blue: #cce4fe;
$yellow: #ffd84c;
$orange: #fecaca;

// Font Sizes
$text-sm: 20px;
$text-md: 26px;
$text-lg: 20px;

$title-h1-sm: 54px;
$title-h1-md: 80px;
$title-h1-lg: 105px;

$title-h2-sm: 35px;
$title-h2-md: 40px;
$title-h2-lg: 50px;
